/*********************************************

This is the style file for this project.

**********************************************/
body {
  background-color: #46d0fd;
	position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#instruction {
	font-family: "futura";
  color: white;
  font-size: 50px;
  text-align: center;
	margin top: center;
	margin-top: center;
}

#baby {
	position: absolute;
  top: 35px;
  z-index: 3;
}

#shark {
  position: absolute;
  bottom: 0px;
  z-index: 2;
}

#hungryShark {
  position: absolute;
  bottom: 0px;
  display: none;
  z-index: 2;
}

#sharkEat {
  position: absolute;
  bottom: 0px;
  display: none;
  z-index: 2;
}

.button {
  background-color: #688ba1;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  font-family: "futura";
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 4;
  margin-left: 45%;
  margin-top: 15%;
  display: none;
}
